$primary-color: #37AB00;
$background-color: #121212;
$background-color2: #000;

$black-transparent-30: #FFFFFF4D;
$black-transparent-20: #FFFFFF33;
$black-transparent-03: #FFFFFF08;
$black-transparent-70: #FFFFFFb3;

$white: $background-color2;


//$background-color: #000;
//$background-color2: #00000008;
//
//$white-transparent-30: #FFFFFF4D;
//$white-transparent-20: #FFFFFF33;
//$white-transparent-03: #FFFFFF08;
//$white-transparent-70: #FFFFFFb3;
//
//$black: $background-color2;
//
//$primary-color: #37AB00;
//$background-color: #FBFEF4;
//$background-color2: #FFF;
//
//$black-transparent-30: #0000004D;
//$black-transparent-20: #00000033;
//$black-transparent-03: #00000008;
//$black-transparent-70: #000000b3;
//
//$white: $background-color2;
